.App {
  text-align: center;
  margin-top: 2rem;
  background-color: #ccf2ff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
  background-color: #ffffff;
}

.title {
  font-size: 2rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.search-bar {
  text-align: right;
}

.list_grid {
  background-color: #ccf2ff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.list {
  flex: 1 0 30%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f4f4f4;
}

.list h2 {
  margin-top: 0;
}

.dropArea {
  min-height: 90%;
  border-color: #007bff;
  border-style: solid;
  border-width: 1px;
}

.card {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-top: 0;
}

.card-description {
  margin-bottom: 0;
}

.card-details {
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.card-actions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input,
textarea {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}